.tdow-modals{
	text-align: center;
}

.tdow-buttons{
	margin: 20px;
	width: 250px;
}
.tdow-check{
	border-color: red;
	background-color: rgb(153,156,159);
	border-radius: 3px;
	padding: 10px;
}
.modal-body{
	text-align: justify;
}
